html {overflow-x: hidden;}

/*Typography*/ 

h3 {font-family: 'Press Start 2P', cursive;
font-size: 3vw;
    margin-top: 5vw;
text-align: center;
  padding: 1vw;
  overflow: hidden;
  border: none;
  color: #C4A66D;
    letter-spacing: 0.3vw;
    font-kerning: normal;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0.3vw 0.3vw 0 #693A3A;}

p {font-family: 'Play', sans-serif;
color: #8A6E5C;
width: 50vw;
    font-size: 1.2vw;
}


h2 {font-family: 'Press Start 2P', cursive;
font-size: 2vw;
  
    color: #fff;
left: 0vw;
 padding: 10px;
  overflow: hidden;
  border: none;
  color: #C4A66D;
    letter-spacing: 0.3vw;
    font-kerning: normal;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0.3vw 0.3vw 0 #693A3A;}


small {position: absolute;
    margin-top: 205vw;
width: 100vw;
left: 0vw;
    text-align: center;
    line-height: 0.5vw;;
font-size: 0.9vw;}

#About a {color: #693A3A;}

small a {color: #693A3A;}

#Ability1 {text-align: left;
width: 16vw;
    left: 10vw;
    position: absolute;
    z-index: 299;
font-family: 'Press Start 2P', cursive;
font-size: 0.8vw;
line-height: 1vw;}


#Ability2 {text-align: left;
width: 20vw;
    left: 22.5vw;
    position: absolute;
    z-index: 299;
font-family: 'Press Start 2P', cursive;
font-size: 0.8vw;
line-height: 1vw;}

#Ability3 {text-align: left;
width: 16vw;
    left: 64vw;
    top: 122vw;
    position: absolute;
    z-index: 299;
font-family: 'Press Start 2P', cursive;
font-size: 0.8vw;
line-height: 1vw;}


#Ability4 {text-align: left;
width: 20vw;
     left: 77vw;
    top: 122vw;
    position: absolute;
    z-index: 299;
font-family: 'Press Start 2P', cursive;
font-size: 0.8vw;
line-height: 1vw;}


#Ability5 {text-align: left;
width: 16vw;
    left: 10vw;
    top: 172vw;
    position: absolute;
    z-index: 299;
font-family: 'Press Start 2P', cursive;
font-size: 0.8vw;
line-height: 1vw;}


#Ability6 {text-align: left;
width: 20vw;
        left: 22.5vw;
    top: 172vw;
    position: absolute;
    z-index: 299;
font-family: 'Press Start 2P', cursive;
font-size: 0.8vw;
line-height: 1vw;}

#Ability7 {text-align: left;
width: 16vw;
    left: 64vw;
    top: 215vw;
    position: absolute;
    z-index: 299;
font-family: 'Press Start 2P', cursive;
font-size: 0.8vw;
line-height: 1vw;}


#Ability8 {text-align: left;
width: 20vw;
     left: 77vw;
    top: 215vw;
    position: absolute;
    z-index: 299;
font-family: 'Press Start 2P', cursive;
font-size: 0.8vw;
line-height: 1vw;}



/*Layout*/ 

body {background-color: black;}

#Line {width: 100vw;
height: 5vw;
    position: relative;
    left: 0vw;
    top: 16vw;
background-color: black;
z-index: 50;
}

#About {margin-top: 0vw;
width: 75vw;
}

#Sherlock {z-index: 55;
    position: absolute;
    margin-top: 20vw;
left: 40vw;
visibility: hidden;}

#Watson {z-index: 55;
    position: absolute;
    margin-top: 50vw;
right: 40vw;
top: 50vw;
visibility: hidden;}

#Irene {z-index: 55;
    position: absolute;
    margin-top: 69vw;
    left: 40vw;
visibility: hidden;}

#Moriarty {z-index: 55;
    position: absolute;
    margin-top: 116vw;
right: 40vw;
visibility: hidden;}

#About {z-index: 55;
    position: absolute;
    width: 80vw;
    margin-top: 155vw;
left: 10vw;}

#QuoteLine {width: 80vw;
left: 10vw;
position: absolute;
    z-index: 100;
background-color: #C4A66D;
    height: 0.3vw;
top: 245vw;}

#QuoteLine2 {width: 80vw;
left: 10vw;
position: absolute;
    z-index: 100;
background-color: #C4A66D;
    height: 0.3vw;
top: 273vw;}


blockquote {font-family: 'Play', cursive;
    font-size: 3vw;
    margin-top: 8vw;
  
    margin-bottom: 3vw;
text-align: center;
    font-weight:  900;
  overflow: hidden;
  border: none;
  color: black;
    letter-spacing: 0.3vw;
    font-kerning: normal;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
overflow: hidden;
  border: none;
    letter-spacing: 0.3vw;
    font-kerning: normal;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0.15vw 0.15vw 0 #693A3A;}

cite {font-size: 1.5vw;
    margin:auto;
text-shadow: none;}

#About p {color: black;}

/*Images*/

#SherlockPic, #WatsonPic, #IrenePic, #MoriartyPic {height: 11vw;
top: 8vw;
margin-left: 10vw;}

#SherlockPic {margin-left: 17vw;}

#Title1, #Title2, #Title3, #Title4 
{width: 8vw;
    z-index: 51;
position: absolute;
font-family: 'Press Start 2P', cursive;
font-size: 1vw;
text-align: center;
top: 38vw;
color: #8A6E5C;}

#Title1 {margin-left: 17.5vw;}

#Title2 {margin-left: 35.5vw;}

#Title3 {margin-left: 54vw;}

#Title4 {margin-left: 72.5vw;}

#About p{width: 80vw;
color: #8A6E5C;}



#SherlockPic2 {margin-left: 15vw;
height: 20vw;
margin-top: 22vw;}


#WatsonPic2 {margin-left: 40vw;
height: 20vw;
margin-top: 67vw;
position: absolute;
}

#IrenePic2 {left: 15vw;
height: 20vw;
margin-top: 114vw;
position: absolute;
}

#MoriartyPic2 {margin-left: 40vw;
height: 20vw;
margin-top: 160vw;
position: absolute;
}

#Line2 {width: 10vw;
height: 5vw;
position: absolute;
left: 18.5vw;
top: 77vw;
background-color: black;}


#Line3 {width: 10vw;
height: 5vw;
position: absolute;
left: 73.5vw;
top: 122vw;
background-color: black;}

#Line4 {width: 10vw;
height: 5vw;
position: absolute;
left: 18.5vw;
top: 169.3vw;
background-color: black;}


#Line5 {width: 10vw;
height: 5vw;
position: absolute;
left: 73.5vw;
top: 215vw;
background-color: black;}


#SherlockHolmes {position: absolute;
height: 5vw;
width: 100vw;
top: 48vw;}

#DrJohnWatson {position: absolute;
height: 5vw;
width: 100vw;
top: 92vw;}

#IreneAddler {position: absolute;
height: 5vw;
width: 100vw;
top: 138vw;}

#ProfJamesMoriarty {position: absolute;
height: 5vw;
width: 100vw;
top: 184vw;}


#Border1 {width: 100vw;
height: 0.3vw;
position: absolute;
top: 48vw;
z-index: 100;
    left: 0;
background-color: #C4A66D;}

#Border2 {width: 100vw;
height: 0.3vw;
position: absolute;
    left: 0;
top: 231vw;
z-index: 10;
background-color: #C4A66D;}


#Border3 {width: 100vw;
height: 27vw;
position: absolute;
    left: 0;
top: 242vw;
z-index: 10;
background-color: #C4A66D;}

small {margin-bottom: 1vw;}

blockquote { color: #C4A66D;}
